#weatherIcon {
   visibility: hidden;
}

#wIcon {
   width: 200px;
   vertical-align: middle;
}

.card {
   width: 18rem;
}

#temperature {
   display: none;
   text-decoration: solid;
   color:rgb(98, 226, 43);
   font-size: xxx-large;
}

/*visibility: hidden;*/